.applications-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.applications-list__item {
  display: inline-block;
  width: 47px;
  height: 56px;
}

// .applications-list__link {

// }

// .applications-list__link--appstore {

// }

// .applications-list__link--playmarket {

// }

// .applications-list__link--microsoft-store {

// }
