.applications-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.applications-list__item {
  display: flex;
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

// .applications-list__link {

// }
