.button {
  display: inline-block;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  width: 280px;
  font: inherit;
  text-align: center;
  color: inherit;
  vertical-align: middle;
  border: 3px solid $base-bg-color;
  border-radius: 55px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: $secondary-text-color;
    background-color: $base-bg-color;
  }

  &:active {
    color: rgba($secondary-text-color, 0.3);
    background-color: $base-bg-color;
  }

  &--submit {
    color: $secondary-text-color;
    border-color: $secondary-text-color;
  }

  &--submit:hover {
    color: $base-bg-color;
    background-color: $secondary-text-color;
  }

  &--submit:active {
    color: rgba($base-bg-color, 0.3);
    background-color: $secondary-text-color;
  }

  &--reset {
    color: rgba($base-text-color, 0.1);
    border-color: rgba($base-text-color, 0.1);
  }

  &--reset:hover {
    color: rgba($base-text-color, 0.3);
    background-color: transparent;
    border-color: rgba($base-text-color, 0.3);
  }

  &--reset:active {
    color: rgba($base-bg-color, 0.3);
    background-color: $editor-reset-btn-active;
    border-color: $editor-reset-btn-active;
  }
}
