.button {
  display: inline-block;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
  width: 280px;
  font: inherit;
  text-align: center;
  color: inherit;
  vertical-align: middle;
  border: 3px solid #ffffff;
  border-radius: 55px;
  background-color: transparent;
  cursor: pointer;

  &--submit {
    color: #d22856;
    border-color: #d22856;
  }

  &--reset {
    color: rgba(#283645, 0.1);
    border-color: rgba(#283645, 0.1);
  }
}
