.card {
  width: 280px;
  text-align: left;

  &--panorama {
    position: relative;
    margin-bottom: 20px;
    width: 320px;
  }

  &--panorama::before {
    content: "ПАНОРАМА ДНЯ";
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    padding-top: 7px;
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: $base-bg-color;
    background-color: $secondary-text-color;
  }
}

.card__photo {
  display: block;
}

.card__info {
  padding-top: 20px;
  padding-right: 23px;
  padding-bottom: 23px;
  padding-left: 17px;
  background-color: $secondary-bg-color;

  &--panorama {
    width: 280px;
  }
}

.card__author {
  margin: 0;
  font-weight: 700;
  font-style: normal;
}

.card__time {
  font-size: $small-size;
  font-weight: 300;
  text-transform: uppercase;
}

.card__text {
  margin-top: 0;
  margin-bottom: 15px;
}

.card__like-wrap {
  display: flex;
}

.card__like-button {
  margin-right: 15px;
  padding: 0;
  border: none;
  background: none;
}

.card__like-info {
  margin: 0;
  color: $secondary-text-color;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;

    &--panorama {
      margin-bottom: 50px;
      width: 660px;
    }

    &--panorama::before {
      top: 57px;
    }
  }

  .card__photo {
    // временно для того, чтобы посмотреть, как будет
    width: 300px;
    height: 300px;

    &--panorama {
      width: $tablet-width;
      height: 509px;
    }
  }

  .card__info {
    position: relative;
    flex-grow: 1;
    flex-basis: 155px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 25px;
    padding-left: 25px;

    &--panorama {
      flex-basis: auto;
      width: 620px;
    }
  }

  // .card__text {
  //   margin-bottom: 40px;
  // }

  .card__like-wrap {
    position: absolute;
    bottom: 30px;
    justify-content: space-between;
    width: 240px;

    &--panorama {
      top: 30px;
      right: 30px;
      bottom: auto;
      justify-content: flex-end;
      // width: auto;
    }
  }

  .card__like-button {
    order: 2;
    margin-right: 0;

    &--panorama {
      margin-left: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    &--panorama {
      width: $desktop-width;
    }

    &--panorama::before {
      right: 130px;
    }
  }

  .card__photo {
    // временно для того, чтобы посмотреть, как будет
    height: 400px;

    &--panorama {
      width: $desktop-width;
      height: 506px;
    }
  }

  .card__info {
    &--panorama {
      width: 940px;
    }
  }
}
