.card {
  width: 280px;
  text-align: left;

  &--panorama {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }

  &--panorama::before {
    content: "ПАНОРАМА ДНЯ";
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    padding-top: 7px;
    width: 140px;
    height: 36px;
    font-size: $small-size;
    line-height: $base-height;
    font-weight: 700;
    text-align: center;
    color: $base-bg-color;
    background-color: $secondary-text-color;
  }
}

.card__photo-link {
  background-color: $base-border-color;
}

.card__photo {
  display: block;
  width: 100%; /* IE and Edge */
}

.card__info {
  padding-top: 18px;
  padding-right: 23px;
  padding-bottom: 19px;
  padding-left: 17px;
  background-color: $secondary-bg-color;

  &--panorama {
    width: 280px;
  }
}

.card__author {
  margin: 0;
  font-weight: 700;
  font-style: normal;
}

.card__time {
  font-size: $small-size;
  font-weight: 300;
  text-transform: uppercase;
}

.card__text {
  margin-top: 0;
  margin-bottom: 10px;
}

.card__like-wrap {
  display: flex;
}

.card__like-icon {
  fill: $secondary-text-color;
}

.card__like-button {
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;

  &:hover use {
    fill: $base-text-color;
  }

  &:active use {
    fill: rgba($secondary-text-color, 0.6);
  }
}

.card__like-info {
  margin: 0;
  color: $secondary-text-color;
  font-size: $small-size;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .card {
    display: flex;
    flex-direction: column;
    width: 300px;

    &--panorama {
      margin-bottom: 50px;
      width: 100%;
    }

    &--panorama::before {
      top: 57px;
    }
  }

  .card__photo--panorama {
    min-height: 509px;
  }

  .card__info {
    position: relative;
    flex-grow: 1;
    flex-basis: 155px;
    padding-top: 23px;
    padding-right: 30px;
    padding-bottom: 55px;
    padding-left: 25px;

    &--panorama {
      flex-basis: auto;
      width: 620px;
      padding-bottom: 25px;
    }
  }

  .card__text {
    margin-bottom: 0;
  }

  .card__like-wrap {
    position: absolute;
    bottom: 22px;
    justify-content: space-between;
    width: 240px;

    &--panorama {
      top: 25px;
      right: 30px;
      bottom: auto;
      justify-content: flex-end;
    }
  }

  .card__like-button {
    order: 2;
    margin-right: 0;

    &--panorama {
      margin-left: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    &--panorama::before {
      top: 54px;
      right: 10px;
    }
  }

  .card__photo--panorama {
    min-height: 505px;
  }

  .card__info {
    &--panorama {
      width: 940px;
    }
  }
}
