.contacts {
  padding-top: 40px;
  padding-bottom: 35px;
}

.contacts__wrapper {
  width: 280px;
  text-align: center;
}

.contacts__slogan {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__list {
  padding: 0;
  list-style: none;
}

.contacts__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__form {
  margin: 0;
  font-size: $bigest-size;
  line-height: normal;
  font-weight: 700;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  color: $secondary-text-color;

  &[href]:hover {
    color: $base-text-color;
    text-decoration: underline;
  }

  &[href]:active {
    color: rgba($base-text-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 30px;
  }

  .contacts__wrapper {
    width: 620px;
  }

  .contacts__slogan {
    width: 370px;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }

  .contacts__item {
    margin-bottom: 45px;
    width: 300px;

    &:last-child {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .contacts__wrapper {
    width: 960px;
  }

  .contacts__slogan {
    width: 470px;
    margin-bottom: 60px;
    font-size: 50px;
    line-height: 57px;
  }

  .contacts__list {
    width: 920px;
  }

  .contacts__item {
    margin-bottom: 0;
    width: 280px;

    &--order-two {
      order: 2;
    }
  }

  .contacts__link {
    display: inline-block;
    margin-top: 20px;
    line-height: 30px;
  }
}
