.contacts {
  padding-top: 50px;
  padding-bottom: 40px;

  outline: 1px solid blue;
}

.contacts__wrapper{
  margin: 0 auto;
  text-align: center;

  outline: 1px solid seagreen;
}

.contacts__slogan {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;

  outline: 1px solid crimson;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  outline: 1px solid mediumslateblue;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.contacts__form {
  margin: 0;
  font-size: $bigest-size;
  font-weight: 700;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  color: $secondary-text-color;
}
