.copyright {
  margin: 0;
  padding-top: 15px;
}

.copyright__logo {
  fill: $secondary-text-color;
}

.copyright__link {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;

  &:hover use {
    fill: $base-text-color;
  }

  &:active use {
    fill: rgba($base-text-color, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding-top: 23px;
  }
}
