.download-app {
  margin-top: -63px; /* чтобы секция частично была под хедером */
  padding-top: 460px; /* толкает блок с содержимым вниз */
  text-align: center;
  color: $base-bg-color;
  background-color: $base-text-color;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, 100% auto;
  background-position: 0 175px, 0 0;
}

.download-app__wrap {
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $base-text-color;
}

.download-app__slogan {
  display: none;
}

.download-app__button {
  margin-bottom: 30px;
  font-size: $bigest-size;
  line-height: 18px;
  font-weight: 700;
  color: $base-bg-color;
}

.download-app__list {
  margin-bottom: 15px;
}

.download-app__info {
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;
  // color: $base-bg-color;
}

// ПЛАНШЕТ
@media (min-width: $tablet-width) {
  .download-app {
    padding-top: 184px;
    // background-image: url("../img/");
    // background-position: 0 0;
  }

  .download-app__container {
    padding-top: 15px;
    padding-bottom: 110px;
    width: 620px;
    // закидываем фон-руку в контейнер, чтобы центровался вместе с содержимым
    // background-image: url("../img/");
    // background-position: 150px bottom;
  }

  .download-app__wrap {
    padding: 0;
    width: 300px;
    background: none;
  }

  .download-app__slogan {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    max-width: 190px;
    font-size: 40px;
    line-height: normal;
    font-weight: 300;
  }

  .download-app__button {
    margin-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
    width: 300px;
  }

  .download-app__list {
    margin-bottom: 35px;
  }
}

// ДЕСКТОП
@media (min-width: $desktop-width) {
  .download-app {
    margin-top: -110px;
    padding-top: 209px; /* ? */
    // background-image: url("../img/");
    // background-position: 0 0;
  }

  .download-app__container {
    padding-right: 10px;
    padding-bottom: 125px;
    padding-left: 10px;
    width: 960px;
    // фон-рука
    // background-image: url("../img/");
    // background-position: 358px bottom;
  }

  .download-app__slogan {
    font-size: 50px;
    margin-bottom: 55px;
    min-width: 235px;
  }

  .download-app__button {
    margin-bottom: 65px;
  }

  .download-app__list {
    margin-bottom: 55px;
  }
}
