.download-app {
  margin-top: -70px; /* чтобы секция частично была под хедером */
  text-align: center;
  color: $base-bg-color;
}

.download-app__container {
  &::before {
    content: "";
    display: block;
    height: 465px;
    background-color: $base-text-color;
    background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 258px 286px, cover;
    background-position: 0 bottom, 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    }
  }
}

.download-app__wrap {
  padding-top: 28px;
  padding-bottom: 30px;
  background-color: $base-text-color;
}

.download-app__slogan {
  display: none;
}

.download-app__button {
  margin-bottom: 30px;
  font-size: $bigest-size;
  line-height: $small-heigth;
  font-weight: 700;
  color: $base-bg-color;
}

.download-app__list {
  margin-bottom: 15px;
}

.download-app__info {
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download-app {
    margin-top: -110px;
    padding-top: 183px;
    background-color: $base-text-color;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .download-app__container {
    padding-top: 17px;
    padding-bottom: 110px;
    width: 620px;
    // закидываем фон-руку в контейнер, чтобы центрировался вместе с содержимым
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-size: 700px 545px;
    background-repeat: no-repeat;
    background-position: -40px bottom;

    &::before {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  .download-app__wrap {
    padding: 0;
    width: 300px;
    background: none;
  }

  .download-app__slogan {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 27px;
    margin-left: auto;
    max-width: 190px;
    font-size: $large-size;
    line-height: $gigantic-heigth;
    font-weight: 300;
  }

  .download-app__button {
    margin-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
    width: 300px;
  }

  .download-app__list {
    margin-bottom: 30px;
  }

  .download-app__info {
    font-size: $bigest-size;
  }
}

@media (min-width: $desktop-width) {
  .download-app {
    margin-top: -110px;
    padding-top: 210px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: 50% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .download-app__container {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 122px;
    padding-left: 10px;
    width: 960px;
    // фон-рука
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-size: 1050px 645px;
    background-position: 27px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }

  .download-app__slogan {
    margin-bottom: 50px;
    min-width: 235px;
    font-size: 50px;
    line-height: 60px;
  }

  .download-app__button {
    margin-bottom: 65px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 21px;
  }

  .download-app__list {
    margin-bottom: 50px;
  }
}
