.editor {
  padding-top: 20px;
  padding-bottom: 45px;
  background-color: $secondary-bg-color;
}

@media (min-width: $tablet-width) {
  .editor {
    padding-top: 50px;
    padding-bottom: 50px;
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .editor {
    padding-top: 57px;
    padding-bottom: 57px;
    width: 940px;
  }
}
