.editor-publisher {
  width: 320px;
}

.editor-publisher__photo-wrap {
  margin-bottom: 43px;
  width: 280px;
  height: 374px;
}

.editor-publisher__photo {
  width: 280px;
  height: 374px;
}

.editor-publisher__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-right: 46px;
  padding-left: 36px;
  width: 280px;
}

.editor-publisher__tool {
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;
  //TODO: из изображений собрать спрайт, и потом, в зависимости от нужной иконки, задавать background-position?

  &--crop {
    width: 44px;
    height: 44px;
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--pouring {
    width: 48px;
    height: 43px;
    background-image: url("../img/icon-editor-fill.svg");
  }

  &--brightness {
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-editor-contrast.svg");
  }

  &:hover {
    opacity: 0.5;
  }

  &:active,
  &--current {
    // FIXME: розовая иконка
    // background-image: url();
    opacity: 1;
  }
}

.editor-publisher__togglers {
  margin-bottom: 34px;
  text-align: center;
}

.editor-publisher__togglers-wrap {
  display: none;
  height: 55px;
  border-bottom: 1px solid rgba($base-text-color, 0.1);

  &--current {
    display: block;
  }
}

.editor-publisher__actions {
  width: 280px;
}

.editor-publisher__button {
  margin-bottom: 12px;
  font-size: $bigest-size;
  line-height: $small-heigth;
  font-weight: 700;

  &:last-child {
    margin-bottom: 0;
  }
}

//TABLET
@media (min-width: $tablet-width) {
  .editor-publisher {
    padding-right: 20px;
    padding-left: 20px;
    width: 660px;
  }

  .editor-publisher__photo-wrap {
    float: left;
    margin-bottom: 0;
    width: 300px;
    height: 400px;
  }

  .editor-publisher__photo {
    width: 300px;
    height: 400px;
  }

  .editor-publisher__tools {
    display: none;
  }

  .editor-publisher__togglers {
    margin-bottom: 62px;
    margin-left: auto;
    width: 275px;
    text-align: right;
  }

  .editor-publisher__togglers-wrap {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-top: 5px;

    &::before {
      content: "";
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.3;
    }

    // FIXME: значки имеют заливку тёмно-синим цветом
    &--crop::before {
      top: 5px;
      left: 3px;
      width: 22px;
      height: 22px;
      background-image: url("../img/icon-editor-crop.svg");
    }

    &--pouring::before {
      top: 8px;
      left: 3px;
      width: 24px;
      height: 22px;
      background-image: url("../img/icon-editor-fill.svg");
    }

    &--brightness::before {
      top: 7px;
      left: 8px;
      width: 16px;
      height: 16px;
      background-image: url("../img/icon-editor-contrast.svg");
    }

    &:hover::before,
    &:focus::before {
      opacity: 0.5;
    }

    // FIXME: активные элементы становятся розовыми
    // &--crop:active::before {
    //   background-image: url(); /* или backgroud-position, если будет спрайт */
    // }

    // &--pouring:active::before {
    //   background-image: url();
    // }

    // &--brightness:active::before {
    //   background-image: url();
    // }
  }

  .editor-publisher__toggler {
    margin-right: 18px;
    width: 202px;
  }

  .editor-publisher__actions {
    margin-right: 0;
    padding-left: 7px;
  }

  .editor-publisher__button {
    margin-bottom: 25px;
    width: 260px;
  }
}

//DESTOP
@media (min-width: $desktop-width) {
  .editor-publisher {
    padding-right: 60px;
    padding-left: 80px;
    width: 940px;
  }

  .editor-publisher__togglers {
    margin-bottom: 140px;
    width: 410px;
  }

  .editor-publisher__togglers-wrap {
    &--crop::before {
      top: -2px;
      left: 0;
      width: 44px;
      height: 44px;
    }

    &--pouring::before {
      top: -2px;
      left: 0;
      width: 48px;
      height: 43px;
    }

    &--brightness::before {
      top: -2px;
      left: 6px;
      width: 32px;
      height: 32px;
    }
  }

  .editor-publisher__toggler {
    margin-right: 30px;
    width: 288px;
  }

  .editor-publisher__actions {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 410px;
  }

  .editor-publisher__button {
    margin-bottom: 0;
    width: 183px;
  }
}
