.editor-publisher {
  width: 280px;
}

.editor-publisher__photo-wrap {
  margin-bottom: 35px;
}

.editor-publisher__tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}

.editor-publisher__tool {
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  // из изображений собрать спрайт, и потом, в зависимости от нужной иконки, задавать background-position?

  &--crop {
    width: 44px;
    height: 44px;
    background-image: url("../../img/icon-editor-crop.svg");
  }

  &--pouring {
    width: 48px;
    height: 43px;
    background-image: url("../../img/icon-editor-fill.svg");
  }

  &--brightness {
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-editor-contrast.svg");
  }
}

.editor-publisher__togglers {
  margin-bottom: 34px;
  background-color: rgba(tomato, 0.5);
  outline: 1px solid red;
}

// .editor-publisher__toggler {
//   display: none;
//   &--current {
//     display: block;
//   }
// }

// .editor-publisher__actions {

// }

.editor-publisher__button {
  font-size: $bigest-size;
  line-height: 18px;
  font-weight: 700;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
