.editor-publisher {
  width: 320px;
}

.editor-publisher__photo-wrap {
  margin-bottom: 43px;
  width: 280px;
  background-color: #c8d6e7;
}

.editor-publisher__photo {
  display: block;
  width: 100%; /* IE and Edge */
}

.editor-publisher__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-right: 46px;
  padding-left: 36px;
  width: 280px;
}

.editor-publisher__tool {
  font-size: 0;
  background: $secondary-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;

  &--crop {
    width: 44px;
    height: 44px;
    background-image: url("../img/icon-editor-crop.svg");
  }

  &--pouring {
    width: 48px;
    height: 43px;
    background-image: url("../img/icon-editor-fill.svg");
  }

  &--brightness {
    width: 32px;
    height: 32px;
    background-image: url("../img/icon-editor-contrast.svg");
  }

  &:hover {
    opacity: 0.5;
  }

  &--crop:active {
    background-image: url("../img/icon-editor-crop-pink.svg");
  }

  &--pouring:active {
    background-image: url("../img/icon-editor-fill-pink.svg");
  }

  &--brightness:active {
    background-image: url("../img/icon-editor-contrast-pink.svg");
  }

  &:active {
    opacity: 1;
  }
}

input[type="radio"]:checked + .editor-publisher__tool {
  opacity: 1;

  &:hover {
    opacity: 1;
  }

  &--crop {
    background-image: url("../img/icon-editor-crop-pink.svg");
  }

  &--pouring {
    background-image: url("../img/icon-editor-fill-pink.svg");
  }

  &--brightness {
    background-image: url("../img/icon-editor-contrast-pink.svg");
  }
}

.editor-publisher__togglers {
  margin-bottom: 38px;
  text-align: center;
}

.editor-publisher__togglers-wrap {
  display: none;
  height: 50px;
  border-bottom: 1px solid rgba($base-text-color, 0.1);

  &--current {
    display: block;
  }
}

.editor-publisher__actions {
  width: 280px;
}

.editor-publisher__button {
  margin-bottom: 12px;
  font-size: $bigest-size;
  line-height: $small-heigth;
  font-weight: 700;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .editor-publisher {
    padding-right: 20px;
    padding-left: 20px;
    width: 660px;
  }

  .editor-publisher__photo-wrap {
    float: left;
    margin-bottom: 0;
    width: 300px;
  }

  .editor-publisher__tools {
    display: none;
  }

  .editor-publisher__togglers {
    margin-bottom: 65px;
    margin-left: auto;
    width: 275px;
    text-align: right;
  }

  .editor-publisher__togglers-wrap {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-top: 5px;
    height: 57px;

    &::before {
      content: "";
      position: absolute;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--crop::before {
      top: 10px;
      left: 3px;
      width: 22px;
      height: 22px;
      background-color: $secondary-bg-color;
      background-image: url("../img/icon-editor-crop-pink.svg");
    }

    &--pouring::before {
      top: 13px;
      left: 3px;
      width: 24px;
      height: 22px;
      background-color: $secondary-bg-color;
      background-image: url("../img/icon-editor-fill-pink.svg");
    }

    &--brightness::before {
      top: 12px;
      left: 8px;
      width: 16px;
      height: 16px;
      background-color: $secondary-bg-color;
      background-image: url("../img/icon-editor-contrast-pink.svg");
    }
  }

  .editor-publisher__toggler {
    margin-right: 18px;
  }

  .editor-publisher__actions {
    margin-right: 0;
    padding-left: 7px;
  }

  .editor-publisher__button {
    margin-bottom: 25px;
    width: 260px;
  }
}

@media (min-width: $desktop-width) {
  .editor-publisher {
    padding-right: 60px;
    padding-left: 80px;
    width: 940px;
  }

  .editor-publisher__togglers {
    margin-bottom: 145px;
    width: 410px;
  }

  .editor-publisher__togglers-wrap {
    &--crop::before {
      top: 0;
      left: 0;
      width: 44px;
      height: 44px;
    }

    &--pouring::before {
      top: 2px;
      left: 0;
      width: 48px;
      height: 43px;
    }

    &--brightness::before {
      top: 4px;
      left: 6px;
      width: 32px;
      height: 32px;
    }
  }

  .editor-publisher__toggler {
    margin-right: 30px;
    width: 288px;
  }

  .editor-publisher__actions {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 410px;
  }

  .editor-publisher__button {
    margin-bottom: 0;
    width: 183px;
  }
}
