.features {
  background-color: $secondary-bg-color;
  outline: 1px solid magenta;
}

.features__slogan-wrap {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  background-color: $base-bg-color;
  //Скошенную часть сделать с помощью рамок у псевдоэлемента

  outline: 1px solid blueviolet;
}

.features__slogan {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  padding: 0;
  width: 205px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__list {
  padding: 0;
  padding-top: 85px;
  width: 280px;
  text-align: center;
  list-style: none;

  &::after {
    content: "";
    display: block;
    height: 330px;
    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 50px;
  }
}

.features__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }

  outline: 1px solid lightseagreen;
}

.features__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: $bigest-size;
  line-height: 24px;
}

.features__item-desc {
  margin: 0;
}

.features__effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .features__slogan-wrap {
    padding-bottom: 45px;
  }

  .features__slogan {
    margin-bottom: 0;
    width: 340px;
    font-size: 40px;

    &--wide {
      width: 590px;
    }
  }

  .features__list {
    position: relative;
    // margin-right: 20px;
    margin-left: 330px;
    padding-top: 75px;
    width: 310px;
    text-align: left;

    &::before {
      content: "";
      display: block;
      position: absolute;
      // right: 0;
      bottom: 0;
      left: -310px;
      // margin: 0 auto;
      width: 300px;
      height: 530px;
      background-image: url("../../img/iphone-screen-mobile@1x.png"); /* заменить потом на нужное изображение */
      background-repeat: no-repeat;
      background-position: center 50px;
      background-size: 270px;
    }

    &::after {
      display: none;
    }
  }

  .features__item {
    &:not(:last-child) {
      margin-bottom: 46px;
    }
  }

  .features__effect {
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .features__slogan-wrap {
    padding-bottom: 75px;
  }

  .features__slogan {
    width: 415px;
    font-size: 50px;

    &--wide {
      width: 735px;
    }
  }

  .features__list {
    display: flex;
    margin-left: auto;
    padding-top: 360px;
    padding-right: 10px;
    padding-left: 10px;
    width: 960px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .features__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    margin-right: auto;
    margin-left: auto;
    width: 250px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -360px;
      width: 242px;
      height: 308px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 292px;
    }
    /* ещё им нужно задать нижний отступ (или верхний самому элементу списка?) */

    &--mood::before {
      background-image: url("../../img/iphone-screen-mobile@1x.png");
    }

    &--world::before {
      background-image: url("../../img/iphone-screen-mobile@1x.png");
    }

    &--friends::before {
      background-image: url("../../img/iphone-screen-mobile@1x.png");
    }
  }

  .features__item-title {
    font-size: 30px;
    line-height: $big-height;
  }

  .features__item-desc {
    font-size: $bigest-size;
    line-height: $big-height;
  }
}
