.features {
  background-color: $secondary-bg-color;
}

.features__slogan-wrap {
  padding-top: 40px;
  padding-bottom: 35px;
  text-align: center;
  background-color: $base-bg-color;
}

.features__slogan {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 27px;
  margin-left: auto;
  padding: 0;
  width: 205px;
  font-size: $huge-size;
  font-weight: 300;
  line-height: $big-height;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__list-wrap {
  padding-top: 77px;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 101% auto;
  background-repeat: no-repeat;
  background-position: center 0;
}

.features__list {
  padding: 0;
  width: 280px;
  text-align: center;
  list-style: none;

  &::after {
    content: "";
    display: block;
    height: 317px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-size: 157px auto;
    background-repeat: no-repeat;
    background-position: center 40px;

    // Можно ли в этом случае нарушить правило о вложенности или это будет невыполнением критерия?
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

.features__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 13px;
  font-size: $bigest-size;
  line-height: $base-height;
}

.features__item-desc {
  margin: 0;
}

.features__effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .features__slogan-wrap {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .features__slogan {
    margin-bottom: 0;
    width: 340px;
    font-size: $large-size;
    line-height: $gigantic-heigth;

    &--wide {
      width: 590px;
    }
  }

  .features__list {
    position: relative;
    padding-left: 310px;
    padding-bottom: 45px;
    width: 620px;
    text-align: left;

    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 270px;
      height: 530px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center 50px;
      background-size: 268px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }

    &::after {
      display: none;
    }
  }

  .features__item {
    margin-bottom: 30px;
  }

  .features__effect-wrap {
    background-color: $base-bg-color;
  }

  .features__effect {
    position: relative;
    display: block;
    padding-top: 99px;
    padding-bottom: 63px;
    padding-left: 310px;
    width: 620px;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-size: 202px 202px, 241px 278px;
    background-repeat: no-repeat;
    background-position: 19px 113px, 0 59px;

    &::before {
      content: "24";
      position: absolute;
      top: 117px;
      left: 65px;
      display: block;
      font-size: 94px;
      line-height: 186.84px;
      font-weight: 700;
      color: $secondary-text-color;
    }
  }

  .features__effect-title {
    margin-top: 0;
    margin-bottom: 10px;
    width: 185px;
    font-size: $gigantic-size;
    line-height: 36px;
    font-weight: 700;
    color: $other-text-color;
  }

  .features__effect-desc {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .features__effect-link {
    color: $secondary-text-color;
    text-decoration: underline;

    &:hover {
      color: $base-text-color;
    }

    &:active {
      color: rgba($base-text-color, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .features__slogan-wrap {
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .features__slogan {
    width: 425px;
    font-size: 50px;
    line-height: 60px;

    &--wide {
      width: 735px;
    }
  }

  .features__list {
    display: flex;
    padding-top: 280px;
    padding-right: 10px;
    padding-bottom: 63px;
    padding-left: 10px;
    width: 960px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .features__item {
    position: relative;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    width: 245px;

    &:first-child {
      margin-left: 30px;
    }

    &:last-child {
      margin-right: 30px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -366px;
      width: 242px;
      height: 308px;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 292px;
    }

    &--mood::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &--world::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &--friends::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }

  .features__item-title {
    margin-bottom: 22px;
    font-size: $gigantic-size;
    line-height: $big-height;
  }

  .features__item-desc {
    font-size: $bigest-size;
    line-height: $big-height;
  }

  .features__effect-wrap {
    background-color: $secondary-bg-color;
  }

  .features__effect {
    padding-top: 95px;
    padding-bottom: 112px;
    padding-left: 375px;
    width: 960px;
    background-size: 253px 253px, 298px 345px;
    background-position: 33px 70px, 11px 0;

    &::before {
      top: 98px;
      left: 91px;
      font-size: 118px;
    }
  }

  .features__effect-title {
    margin-bottom: 25px;
    width: auto;
    font-size: $gigantic-size;
    line-height: $big-height;
  }

  .features__effect-desc {
    margin-bottom: 32px;
    width: 530px;
    font-size: $bigest-size;
    line-height: $big-height;
  }

  .features__effect-link {
    font-size: $bigest-size;
    line-height: $big-height;
  }
}
