.flashback-form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.flashback-form__fullname-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flashback-form__wrap {
  padding-top: 36px;
  width: 320px;

  &--color {
    background-color: $secondary-bg-color;
  }

  &--null-padding-top {
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 48px;
  }
}

.flashback-form__group {
  padding-top: 32px;
  padding-right: 0;
  padding-bottom: 42px;
  padding-left: 0;
  width: 280px;
  border: none;

  &--small-padding {
    padding-top: 7px;
  }
}

.flashback-form__group-title {
  padding-right: 30px;
  padding-left: 30px;
  line-height: 20px;
  text-align: center;
  color: $secondary-text-color;
  text-transform: uppercase;

  &--small-paddings {
    padding-right: 25px;
    padding-left: 25px;
  }

  &--big-paddings {
    padding-right: 39px;
    padding-left: 39px;
  }

  &--close {
    display: none;
  }
}

.flashback-form__label {
  padding-left: 23px;
  line-height: $big-height;
  color: $secondary-text-color;
  text-transform: uppercase;
}

.flashback-form__input {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 5px;
  margin-bottom: 17px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  min-width: 280px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $base-border-color;

  .flashback-form__fullname-item:last-child & {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $base-text-color;
  }

  &:focus {
    border-color: $secondary-text-color;
    outline: none;
  }

  // тут будет миксин для стилизации плейсхолдера (наверное)

  &--contacts {
    margin-bottom: 0;
  }

  &--textarea {
    margin-bottom: 0;
    min-height: 201px;
  }
}

.flashback-form__achievements-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flashback-form__achievements-item {
  margin-bottom: 43px;
  max-width: 280px;

  &:first-child {
    margin-top: 4px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.flashback-form__platform-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flashback-form__platform-item {
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}

.flashback-form__list-label {
  position: relative;
  display: block;
  font-size: $bigest-size;
  line-height: $big-height;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
    border: 2px solid $base-border-color;
  }

  &--checkbox::before {
    border-radius: 2px;
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.flashback-form__achievements-checkbox {
  &:hover + .flashback-form__list-label::before,
  &:focus + .flashback-form__list-label::before {
    border-color: $base-text-color;
  }

  &:active + .flashback-form__list-label::before {
    border-color: $secondary-text-color;
  }

  &:checked + .flashback-form__list-label::before {
    background-image: url("../img/checkbox-checked.svg");
    background-position: center;
  }
}

.flashback-form__platform-radio {
  &:hover + .flashback-form__list-label::before,
  &:focus + .flashback-form__list-label::before {
    border-color: $base-text-color;
  }

  &:active + .flashback-form__list-label::before {
    border-color: $secondary-text-color;
  }

  &:checked + .flashback-form__list-label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
    display: block;
    width: 15px;
    height: 16px;
    background-color: $secondary-text-color;
    border-radius: 50%;
  }
}

.flashback-form__contacts {
  margin-top: 0;
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.flashback-form__submit {
  width: 280px;
}

.flashback-form__submit-button {
  margin-bottom: 35px;
}

.flashback-form__submit-footnote {
  margin: 0;
  line-height: $big-height;
  text-align: center;
  text-transform: uppercase;

  &--full {
    display: none;
  }
}

.flashback-form__sup {
  color: $secondary-text-color;
}

// TABLET
@media (min-width: $tablet-width) {
  .flashback-form {
    width: $tablet-width;
  }

  .flashback-form__group {
    padding-bottom: 20px;
    width: 620px;
    border: 2px solid $base-border-color;

    &--no-border {
      border: none;
    }

    &--order-null {
      order: 0;
    }

    &--order-one {
      order: 1;
    }

    &--order-two {
      order: 2;
    }
  }

  .flashback-form__wrap {
    width: 620px;
    background-color: transparent;

    &:nth-last-of-type(2) {
      margin-bottom: 66px;
    }

    &--other-padding {
      padding-top: 57px;
    }

    &--order-null {
      order: 0;
    }

    &--order-one {
      order: 1;
    }

    &--order-two {
      order: 2;
    }

    .flashback-form__group {
      padding-top: 42px;
      width: 100%;
    }
  }

  .flashback-form__group-title {
    &--close {
      display: block;
    }
  }

  .flashback-form__label {
    padding-left: 20px;
  }

  .flashback-form__fullname-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 29px;

    &:last-child {
      margin-bottom: 0;
    }

    .flashback-form__label {
      margin-right: 18px;
      padding-left: 0;
    }

    .flashback-form__input {
      flex-grow: 1;
      width: auto;
    }
  }

  .flashback-form__achievements-list {
    padding-right: 60px;
    padding-bottom: 24px;
    padding-left: 60px;
  }

  .flashback-form__platform-list {
    padding-bottom: 30px;
    padding-left: 60px;
  }

  .flashback-form__list-label {
    &::before {
      margin-right: 18px;
    }
  }

  .flashback-form__contacts-wrap {
    margin-bottom: 9px;
  }

  .flashback-form__contacts {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 30px;
    width: 500px;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: 22px;
      display: block;
      width: 20px;
      height: 20px;
      // background-image: url("../img/");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .flashback-form__input {
    &--contacts {
      margin-top: 0;
      margin-bottom: 5px;
      border-right-width: 62px;
    }

    &--textarea {
      margin-top: -7px;
      margin-right: 60px;
      margin-bottom: 25px;
      margin-left: 60px;
      width: 500px;
      min-height: 193px;
    }
  }

  .flashback-form__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 2;
    width: 620px;
  }

  .flashback-form__submit-button {
    margin-bottom: 0;
  }
}

// DESKTOP
@media (min-width: $desktop-width) {
  .flashback-form {
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-left: 10px;
    width: 960px;
  }

  .flashback-form__group {
    width: 940px;

    &--no-border {
      padding-top: 45px;
      padding-right: 35px;
      width: 470px;
    }
  }

  .flashback-form__wrap {
    width: 940px;

    &--narrow {
      padding-left: 35px;
      width: 470px;
    }

    &--other-padding {
      padding-top: 38px;
    }

    .flashback-form__group {
      padding-top: 33px;
    }
  }

  .flashback-form__input {
    &--textarea {
      width: 820px;
      min-height: 125px;
    }
  }

  .flashback-form__contacts-wrap {
    display: flex;
    margin-bottom: 0;
    padding-right: 23px;
    padding-left: 23px;
  }

  .flashback-form__contacts {
    margin-bottom: 0;
    width: 375px;
  }

  .flashback-form__achievements-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 20px;
    padding-bottom: 0;
  }

  .flashback-form__achievements-item {
    order: 7;
    margin-top: 4px;

    &--first {
      order: 1;
    }

    &--second {
      order: 2;
    }

    &--third {
      order: 3;
    }

    &--fourth {
      order: 4;
    }

    &--fifth {
      order: 5;
    }

    &--sixth {
      order: 6;
    }
  }

  .flashback-form__platform-list {
    padding-top: 14px;
    padding-left: 75px;
  }

  .flashback-form__submit {
    width: 940px;
  }

  .flashback-form__submit-footnote {
    &--full {
      display: inline;
    }
  }
}
