.galery__intro-container {
  padding-top: 45px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  width: 280px;
  text-align: center;
}

.galery__intro {
  margin: 0;
  line-height: $big-height;
}

.galery__slogan-container {
  padding-top: 45px;
  padding-bottom: 40px;
  width: 280px;
}

.galery__slogan {
  margin: 0;
  line-height: $big-height;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .galery__intro-container {
    padding-top: 90px;
    padding-right: 80px;
    padding-bottom: 77px;
    padding-left: 80px;
    width: 620px;
  }

  .galery__intro {
    font-size: $bigest-size;
  }

  .galery__slogan-container {
    padding-top: 65px;
    padding-bottom: 70px;
    width: 620px;
  }

  .galery__slogan {
    font-size: $bigest-size;
    line-height: $big-height;
  }
}

@media (min-width: $desktop-width) {
  .galery__intro-container {
    padding-right: 190px;
    padding-bottom: 90px;
    padding-left: 190px;
    width: 960px;
  }

  .galery__slogan-container {
    padding-top: 58px;
    width: 940px;
  }
}
