.galery {
  padding-bottom: 45px;
  outline: 1px solid palevioletred;
}

.galery__intro-wrap {
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  width: 280px;
  text-align: center;

  outline: 1px solid darkorange;
}

.galery__intro {
  margin: 0;
  line-height: $big-height;
}

.galery__list {
  margin-bottom: 45px;
}

.galery__slogan {
  margin: 0;
  text-align: center;
}

@media(min-width: $tablet-width) {
  .galery__intro-wrap {
    padding-top: 95px;
    padding-right: 80px;
    padding-bottom: 75px;
    padding-left: 80px;
    width: 620px;
  }

  .galery__intro {
    font-size: $bigest-size;
  }
}

@media (min-width: $desktop-width) {
  .galery__intro-wrap {
    padding-right: 190px;
    padding-bottom: 85px;
    padding-left: 190px;
    width: 960px;
  }
}
