.green-button {
  display: inline-block;
  padding-top: 13.5px;
  padding-bottom: 15.5px;
  width: 280px;
  font-size: $bigest-size;
  font-weight: 700;
  line-height: $big-height;
  text-transform: uppercase;
  color: $base-bg-color;
  border: 2px solid $form-btn-color;
  background-color: $form-btn-color;
  cursor: pointer;

  &:hover {
    background-color: $form-btn-color-hover;
    border-color: $form-btn-color-hover;
  }

  &:active {
    color: rgba($base-bg-color, 0.3);
    background-color: $form-btn-color-hover;
    border-color: $form-btn-color-hover;
  }

  &:disabled {
    background-color: $base-border-color;
    border-color: $base-border-color;
  }
}

@media (min-width: $tablet-width) {
  .green-button {
    width: 300px;
  }
}
