.map {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-color: #f3f1ea;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 100;
    display: block;
    border: 50vw solid transparent;
    border-top: 35px solid $base-bg-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/icon-map-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%);
  }
}

.map__image {
  position: absolute;
  left: 50%;
  z-index: 1;
  display: block;
  width: 100%;
  transform: translate(-50%, -69%);
}

.map__block {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  .map {
    height: 375px;

    &::before {
      border-top-width: 70px;
    }
  }

  .map__image {
    transform: translate(-50%, -40%);
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 500px;

    &::before {
      border-top-width: 100px;
    }
  }

  .map__image {
    transform: translate(-50%, -22.5%);
  }
}
