.page-header {
  position: relative;
  z-index: 2;
  padding-top: 20px;
  font-size: $bigest-size;
  line-height: 32px;
  font-weight: 700;
  color: $base-bg-color;
  text-transform: uppercase;
  background-color: $base-text-color;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 25px;
}

.page-header__logo-link {
  display: flex;

  &[href]:hover g,
  &[href]:focus g {
    fill: $secondary-text-color;
  }

  &:focus {
    outline: 0;
  }

  &[href]:active g {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.page-header__logo-image {
  width: 75px;
  height: 22px;
}

.page-header__nav-toggle {
  display: block;
  position: relative;
  padding: 0;
  width: 50px;
  height: 24px;
  background: none;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $base-bg-color;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }

  span {
    position: absolute;
    top: 10px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $base-bg-color;
  }

  &:hover::before,
  &:hover::after,
  &:hover span,
  &:focus::before,
  &:focus::after,
  &:focus span {
    background-color: $secondary-text-color;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__nav-toggle--opened {
  margin-right: -3px;
  width: 30px;
  height: 25px;

  &::before,
  &::after {
    display: none;
  }

  span:first-child {
    transform: rotate(45deg);
  }

  span:last-child {
    transform: rotate(-45deg);
  }
}

@media (max-width: $not-desktop-width) {
  .page-header--closed {
    background-color: rgba($other-text-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 27px;
  }

  .page-header__wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 43px;
    width: $tablet-width;
  }

  .page-header__logo-image {
    width: 146px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-bottom: 40px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 960px;
  }

  .page-header__wrapper {
    margin: 0;
    padding: 0;
  }

  .page-header__nav-toggle {
    display: none;
  }
}
