.page-footer {
  padding-top: 40px;
  padding-bottom: 35px;

  &--index {
    display: none;
  }
}

.page-footer__wrap {
  width: 280px;
  text-align: center;
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 40px;
}

.page-footer__socials {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 35px;

    &--index {
      display: block;
    }
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center; /* или baseline? */
    width: 620px;
  }

  .page-footer__logo-link {
    margin-bottom: 0;
  }

  .page-footer__socials {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .page-footer__wrap {
    padding: 0 10px;
    width: 960px;
    font-size: $bigest-size;
  }
}
