.page-title {
  margin-top: -66px;
  padding-top: 100px;
  text-align: center;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;

  &--photo-page {
    padding-bottom: 85px;
  }

  &--form-page {
    padding-bottom: 50px;
  }

  outline: 1px solid red;
}

.page-title__text {
  margin: 0;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  color: $base-bg-color;
}

@media (min-width: $tablet-width) {
  .page-title {
    margin-top: -110px;
    padding-top: 191px;
    // background-image: url("../../img/");

    &--photo-page {
      padding-bottom: 145px;
    }

    &--form-page {
      padding-bottom: 75px;
    }
  }

  .page-title__text {
    font-size: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding-top: 184px;
    // background-image: url("../../img/");

    &--photo-page {
      padding-bottom: 110px;
    }

    &--form-page {
      padding-bottom: 95px;
    }
  }

  .page-title__text {
    margin: 0 auto;
    max-width: 940px;
  }
}
