.page-title {
  margin-top: -66px;
  padding-top: 95px;
  text-align: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;

  &--photo-page {
    padding-bottom: 80px;
  }

  &--form-page {
    padding-bottom: 50px;
  }
}

.page-title__text {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: $base-bg-color;
}

// TABLET
@media (min-width: $tablet-width) {
  .page-title {
    margin-top: -110px;
    padding-top: 180px;
    // background-image: url("../img/");

    &--photo-page {
      padding-bottom: 140px;
    }

    &--form-page {
      padding-bottom: 80px;
    }
  }

  .page-title__text {
    font-size: 50px;
    line-height: 60px;
  }
}

// DESKTOP
@media (min-width: $desktop-width) {
  .page-title {
    margin-top: -115px;
    padding-top: 175px;
    // background-image: url("../img/");

    &--photo-page {
      padding-bottom: 100px;
    }

    &--form-page {
      padding-bottom: 100px;
    }
  }

  .page-title__text {
    margin: 0 auto;
    max-width: 940px;

    &--photo-page {
      max-width: 600px;
    }
  }
}
