.page-footer {
  padding-top: 35px;
  padding-bottom: 35px;

  &--index {
    display: none;
  }
}

.page-footer__wrap {
  width: 280px;
  text-align: center;
}

.page-footer__logo-image {
  width: 147px;
  height: 40px;
  fill: $base-text-color;
}

.page-footer__logo-glasses-with-gaps,
.page-footer__logo-stars {
  display: none;
}

.page-footer__logo-link {
  display: block;
  margin-bottom: 33px;

  &[href]:hover g {
    fill: $secondary-text-color;
  }

  &[href]:active .page-footer__logo-stars,
  &[href]:active .page-footer__logo-letters {
    fill: $base-text-color;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-footer__socials {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 30px;

    &--index {
      display: block;
    }
  }

  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 620px;
  }

  .page-footer__logo-link {
    margin-bottom: 0;
  }

  .page-footer__socials {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 70px;
    padding-top: 5px;
    width: 192px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-top: 62px;
    padding-bottom: 70px;

    &--galery {
      padding-top: 92px;
    }
  }

  .page-footer__wrap {
    padding: 0 10px;
    width: 960px;
    font-size: $bigest-size;
  }

  .page-footer__logo-glasses {
    display: none;
  }

  .page-footer__logo-glasses-with-gaps,
  .page-footer__logo-stars {
    display: inline-block;
  }

  .page-footer__socials {
    margin-left: auto;
    padding-top: 10px;
    padding-left: 10px;
    width: 210px;
  }
}
