.price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: $secondary-bg-color;
}

.price__wrapper {
  padding: 0 20px;
}

.price__slides {
  width: 300%;
  margin-bottom: 40px;
  transform: translateX(-33.33%);
  transition: transform 0.8s ease-in-out;
}

.price__table {
  width: 100%;
}

.price__toggles {
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .price__slides {
    width: auto;
    transform: translateX(0);
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price__table {
    width: 80%;
  }
}
