.price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: $secondary-bg-color;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 101% auto;
  background-repeat: no-repeat;
  background-position: center 0;
}

.price__wrapper {
  padding: 0 20px;
}

.price__slides {
  width: 300%;
  margin-bottom: 35px;
  transform: translateX(-33.33%);
  transition: transform 0.8s ease-in-out;
}

.price__table {
  width: 100%;
}

.price__toggles {
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 85px;
    padding-bottom: 30px;
  }

  .price__slides {
    width: auto;
    transform: translateX(0);
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-top: 148px;
    padding-bottom: 55px;
  }

  .price__wrapper {
    padding: 0 10px;
  }

  .price__table {
    width: 80%;
    max-width: 940px;
  }
}
