.site-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__item {
  padding-top: 18px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 0;
  text-align: center;
}

.site-list__link {
  color: $base-bg-color;

  &:hover,
  &:focus {
    color: $secondary-text-color;
  }

  &:active {
    color: rgba($secondary-text-color, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
    width: 635px;
  }

  .site-list__item {
    padding: 0;
  }
}
