.slider {
  position: relative;
  overflow: hidden;
}

.slider__list {
  display: flex;
  width: 300%;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}

.slider__item {
  width: 33.33%;
}

.slider__toggles {
  text-align: center;
}

.slider__toggle {
  display: inline-block;
  margin: 0 6px;
  padding: 0;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: $base-text-color;
  border-radius: 50%;
  opacity: 0.3;
  box-sizing: content-box;

  &--current {
    background-color: $base-bg-color;
    border: 3px solid $base-text-color;
    opacity: 1;
  }

  &:not(&--current):hover {
    opacity: 0.6;
  }

  &--current:focus {
    outline: 0;
  }

  &:not(&--current):active {
    opacity: 0.1;
  }
}
