.storytelling {
  padding-bottom: 20px;
}

.storytelling__container {
  padding-top: 46px;
  width: 280px;
}

.storytelling__desc {
  margin: 0;
  line-height: $big-height;
  text-align: center;

  &--full {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .storytelling {
    padding-bottom: 52px;
  }

  .storytelling__container {
    padding-top: 90px;
    padding-bottom: 35px;
    width: 500px;
  }

  .storytelling__desc {
    font-size: $bigest-size;

    &--full {
      display: inline-block;
    }
  }
}

@media (min-width: $desktop-width) {
  .storytelling__container {
    width: 820px;
  }
}
