.table-prices {
  text-align: left;
  text-transform: uppercase;
  border-collapse: collapse;
}

.table-prices__header-cell {
  padding-top: 12px;
  padding-bottom: 6px;
  min-width: 277px;
  text-align: center;
  color: $base-bg-color;
  border: 2px solid $base-text-color;
  background-color: $base-text-color;

  &:nth-last-child(n+2):not(:last-child) {
    border-right-color: $base-border-color;
  }

  &--empty {
    border: none;
    background: transparent;
  }

  &--first {
    display: none;
  }

  &--bestseller {
    position: relative;
  }

  &--bestseller::before {
    content: "";
    position: absolute;
    top: -39px;
    left: -44px;
    width: 45px;
    height: 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 27px;
    border-color: transparent transparent #d22856;
    transform: rotate(-45deg);
    box-sizing: content-box;
  }

  &--bestseller::after {
    content: "ХИТ";
    position: absolute;
    top: 8px;
    left: 10px;
    transform: rotate(-45deg);
    font-size: $base-size;
    font-weight: 700;
    line-height: $big-height;
    color: $base-bg-color;
  }
}

.table-prices__header-name {
  font-size: $big-size;
  line-height: $big-height;
  font-weight: 700;
  text-transform: uppercase;
}

.table-prices__header-cost {
  margin: 0;
  font-size: $bigest-size;
  line-height: $big-height;
  font-weight: 300;
}

.table-prices__body-cell {
  padding-top: 14px;
  padding-right: 17px;
  padding-bottom: 15px;
  padding-left: 22px;
  min-width: 277px;
  line-height: $big-height;
  border: 2px solid $base-border-color;
  background-color: $base-bg-color;

  &--first {
    display: none;
  }
}

.table-prices__body-marker {
  float: right;
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;

  &--on {
    width: 31px;
    height: 21px;
    background-image: url("../img/icon-yes.svg");
  }

  &--off {
    width: 27px;
    height: 26px;
    background-image: url("../img/icon-no.svg");
  }
}

@media (min-width: $tablet-width) {
  .table-prices__header-cell {
    min-width: 152px;

    &--first {
      display: table-cell;
    }

    &--bestseller::before {
      top: -32px;
      left: -37px;
      width: 30px;
      height: 15px;
    }

    &--bestseller::after {
      top: 2px;
      left: 5px;
    }
  }

  .table-prices__header-name {
    font-size: $big-size;
  }

  .table-prices__header-cost {
    font-size: $bigest-size;
  }

  .table-prices__body-cell {
    min-width: 152px;

    &--first {
      display: table-cell;
    }
  }

  .table-prices__body-option {
    display: none;
  }

  .table-prices__body-marker {
    float: none;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .table-prices__header-cell {
    min-width: 233px;

    &--bestseller::before {
      top: -27px;
      left: -39px;
      width: 44px;
    }

    &--bestseller::after {
      top: 9px;
      left: 9px;
    }
  }

  .table-prices__header-name {
    font-size: $bigest-size;
  }

  .table-prices__header-cost {
    font-size: 24px;
  }

  .table-prices__body-cell {
    min-width: 233px;
  }
}
