// глобальные стили
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: $base-size;
  line-height: $base-height;
  font-weight: 400;
  color: $base-text-color;
  background-color: $base-bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
