// тут будут хранится все переменные - часто встречающиеся цвета и размеры
// Цвета
$base-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;
$base-text-color: #283645;
$secondary-text-color: #d22856;
$other-text-color: #000000;
$base-border-color: #e5e5e5;
$form-btn-color: #2aab6d;
$form-btn-color-hover: #1c9b5e;
// Размеры шрифтов
$base-size: 14px;
$small-size: 12px;
$big-size: 16px;
$bigest-size: 18px;
// Добавить какой-нибудь $giant-size: 24px?
// Интерлиньяж
$base-height: 24px;
$big-height: 30px;
// Брейкпоинты
$tablet-width: 660px;
$desktop-width: 960px;
